.logo{
    width: 60%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
    color: #103948;
}
.basket{
    font-size: 30px;
    color: #c8bfe7;
}
.link{
    color: #103948 !important;
}
.line{
    display: block;
    border-bottom: 1px solid #c8bfe7;
    width: 100%;
}
#block{
    background: #c8bfe7;
    width: 100%;
    height: 600px;
}
#block img{
    width: 80%;
    height: 75%;
}
.heroCarousel-content {
    position: absolute;
    transform: none;
    background: #fff!important;
    margin-left: 30px;
    padding: 20px;
    color: #c8bfe7;
}
.heroCarousel-content p{
    color: #7a7a7a;
}
.button{
    background: #c8bfe7;
    border: none;
    border-radius: 0px;
}
.grey{
    background: #f5f5f5;
}
.product-img{
    width: 70%;
}
.more{
    width: 25%;
}
.icons{
    font-size: 50px;
}
.purple{
    background: #c8bfe7 !important;
}
.blue{
    background: #103948;
}
.fut li a{
    color: white !important;
}
.fut li{
    list-style: none;
}
.dot{
    display: block;
    border-bottom: 3px solid #c8bfe7;
    width: 5%;
    margin: 0px auto;
}
.error{
    border: 2px solid red;
}
input{
    border: none;
    border-bottom: 1px solid #103948;
}
.blueLetters{
    color: #103948;
}
#modal-2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
}
.m-cont{
    background-color: white;
    margin-top: 100px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 4;
}
.m-header{
    font-weight: 500;
    padding: 20px 0px;
}
.m-header h1 {
    font-size: 30px;
    color: #103948;
}
.m-header .m-close {
    font-size: 20px;
    background: #c8bfe7;
    border: 0;
    outline: 0;
    padding: 5px 8px;
    border-radius: 45%;
}
.m-body{
    color: #103948;
    padding: 15px 0px;
}
.m-footer{
    padding: 20px 0px;
}
.ddl{
    width: 10% !important;
}
#search{
    height: 40px;
    border-bottom: 1px solid #c8bfe7;
}
